DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID_1=
DISCORD_GUILD_ID_2=
LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_PASSWORD=

# Module flags
# Songer default: true
# Creator default: false
# For dual mode set both to true.
ENABLE_ATLAS_SONGER=true
ENABLE_ATLAS_CREATOR=false
